<div class="game-wrapper">
  <div class="question">
    <h1>{{ question }}</h1>
  </div>

  <div class="result">
    <h3></h3>
  </div>

  <div class="answer">
    <ul class="answer-letters">

      <li *ngFor="let letter of correctGuesses; let i = index" class="answer-letter">
        <div class="letter-wrapper">
            {{ letter }}
        </div>
      </li>
    </ul>
  </div>

  <div class="input-wrapper">
    <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="guess" placeholder="Your guess..." id="#guess" maxlength="1">
    </mat-form-field>
    <button mat-button color="primary" (click)="checkLetter()">Go!</button>
  </div>

  <div class="restart">
    <button mat-button color="primary" (click)="initializeGame()">Start again?</button>
  </div>
</div>
