<div class="mat-app-background basic-container">
  <h1>Welcome to the Programmer's Quiz Game</h1>
  <h3>Select room:</h3>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 room-table">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element" ng> {{element.category}} </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-button (click)="joinRoom()" routerLink="/game-page">Join</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row)"></tr>
  </table>

  <div class="form-column">
    <h3>Create a new room:</h3>
    <form>
      <mat-form-field>
        <input type="text" #roomNameInput matInput placeholder="New room name">
      </mat-form-field>
      <button (click)="createRoom(roomNameInput.value)" mat-raised-button color="accent" class="new-room-btn" routerLink="/game-page">Create</button>
    </form>
  </div>

  <div class="form-column">
    <h3>Join existing room</h3>
    <form>
      <mat-form-field>
        <input type="text" #joinRoomNameInput matInput placeholder="Existing room name">
      </mat-form-field>
      <button (click)="joinRoom(joinRoomNameInput.value)" mat-raised-button color="accent" class="new-room-btn">Join</button>
    </form>
  </div>
</div>
